.row
  .span12
    %h1 Order

.row
  .span12
    %table.table
      %tr
        %th Name
        %th Price
        %th Quantity
        %th Subtotal

      - session[:cart].each do |item|
        .span12
          %tr
            %td
              = item[:product_name]
            %td
              = number_to_currency item[:product_price]
            %td
              = item[:product_quantity]
            %td
              = number_to_currency(item[:product_price].to_f * item[:product_quantity].to_f)

.row
  .span12
    %form{action: "", method: "POST", id: "payment-form"}
      %dt
        %label Card Number
      %dd
        %input{type: "text", size: "20", autocomplete: "off", class: "card-number"}

      %dt
        %label CVC
      %dd
        %input{type: "text", size: "4", autocomplete: "off", class: "card-cvc"}

      %dt
        %label Expiration (MM/YYYY)
      %dd
        %input{type: "text", size: "2", class: "card-expiry-month"}
        = " / "
        %input{type: "text", size: "4", class: "card-expiry-year"}

      .action
        = submit_tag "Submit Payment"
