.row
  .col-md-9
    %h1 Order summary:

.row
  .col-md-9
    = link_to "Edit", edit_order_path(order)

.row
  .col-md-9
    %p
      %strong Customer name: 
      = "#{order.customer_first_name} #{order.customer_last_name}"
    %p
      %strong Customer email: 
      = order.customer_email
    %p 
      %strong Shipping Address:
    %address
      =order.address_street_1
      %br
      -unless order.address_street_2.nil? or order.address_street_2 == ""
        =order.address_street_2
        %br
      = "#{order.address_city}, #{order.address_state} #{order.address_zip}"

    %table.table.table-striped
      %tr
        %th Product
        %th Price
        %th Qty
      - Order.unpack_products(order.products).each do |product|
        %tr
          %td= product[:product_name]
          %td= number_to_currency(product[:product_price].to_f)
          %td= product[:product_quantity]

    %p= "Processed: #{order.processed.to_s}"
    %p= "Shipped: #{order.shipped.to_s}"
    %p= "Stripe Payment Token: #{order.stripe_payment_token}"
