%h1 Contact Datil Dave

.form
  = form_for @message, :url => create_contact_path do |f|
    .field
      = f.label :name
      %br
      = f.text_field :name

    .field
      = f.label :email
      %br
      = f.text_field :email

    .field
      = f.label :subject
      %br
      = f.text_field :subject

    .field
      = f.label :body
      %br
      = f.text_area :body

    .action
      = f.submit "Send"
