.row
  .span12
    .page-header
      %h1 Products
      -if current_user
        = link_to "New Product", new_product_path
.row
  - products.each do |product|
    .span3.product
      = link_to product.name, product
      %br
      = link_to image_tag(product.image_url), product
      - if current_user
        %br
        = link_to "Edit", edit_product_path(product)
        |
        = link_to "Delete", product, data: { confirm: "Deleting is irreversible. Do you wish to continue?" }, method: :delete

