
.row
  .span12
    %h1= product.name
.row
  .span12
    %p
      Name:
      = product.name

    %p
      Description:
      = product.description

    %p
      Price:
      = number_to_currency(product.price)

    %p
      Quantity:
      = product.quantity

    = form_for product, action: :add_to_cart do
      .action
        = submit_tag "Add To Cart"
