%h1= product.name

.user_nav
  - if current_user
    = link_to "Edit", edit_product_path(product)
    |
    = link_to "Delete", product, confirm: "Deleting is irreversible. Do you wish to continue?", method: :delete

.main
  %p
    Name:
    = product.name

  %p
    Description:
    = product.description

  %p
    Price:
    = number_to_currency(product.price)

  %p
    Quantity:
    = product.quantity
