!!!
%html
  %head
    %meta{charset: "utf-8"}
    / [if IE]
      %meta{"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Datil Dave"
    %meta{content: "Datil Dave E-Commerce Site", name: "description"}
    %meta{content: "Dan Bearl", name: "author"}
    = stylesheet_link_tag "bootstrap.min", media: "all"
    = stylesheet_link_tag "/font-awesome/css/font-awesome.min", media: "all"
    = stylesheet_link_tag "style", media: "all"
    = stylesheet_link_tag "responsive", media: "all"
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = csrf_meta_tags

    / Google Web Fonts
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel: "stylesheet", type: "text/css"}

    / CSS Files
    //%link{href: "font-awesome/css/font-awesome.min.css", rel: "stylesheet"}
    //%link{href: "css/style.css", rel: "stylesheet"}
    //%link{href: "css/responsive.css", rel: "stylesheet"}

    / [if lt IE 9]
      %meta{"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
      %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{src: 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}

    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "images/fav-144.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "images/fav-114.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "images/fav-72.png"}
    %link{rel: "apple-touch-icon-precomposed", href: "images/fav-57.png"}
    %link{rel: "shortcut icon", href: "/images/fav.png"}
    = tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY
    = yield(:head)

  %body
    %header#header-area
      %div.container
        /Main Header Starts
        %div.main-header
          -[:notice, :error, :alert].each do |level|
            - unless flash[level].blank?
              %div{class: "alert alert-#{flash_class(level)}"}
                %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
                = flash[level]

          %div.row
            /Logo Starts
            %div.col-md-9
              %div#logo
                =link_to image_tag( "logo.png", title: "Datil Dave Pepper Products", alt: "Spice Shoppe", class: "img-responsive"), root_path
            /Shopping Cart Starts
            %div.col-md-3
              %div#cart.btn-group.btn-block
                %a{href: "/cart"}
                  %button{type: "button", "data-toggle" => "dropdown-menu", class: "btn btn-block btn-lg dropdown-toggle"}
                    %i.fa.fa-shopping-cart
                    %span.hidden-md
                      Cart:
                    %span#cart-total
                      -if session.has_key?(:cart)
                        = "#{session[:cart].count} item(s) - #{number_to_currency(Cart.subtotal(session[:cart]).to_f)}"
                      -else
                        0 item(s) - $0.00
                  %ul.dropdown-menu.pull-right
                    -if session.has_key?(:cart)
                      %li
                        %table.table.table-striped.hcart
                          - session[:cart].each do |item|
                            %tr
                              %td.text-left
                                =item[:product_name]
                              %td.text-right= "x #{item[:product_quantity]}"
                              %td.text-right= number_to_currency(item[:product_price])
                      %li
                        %table.table.table-bordered.total
                          %tbody
                            %tr
                              %td.text-right
                                %strong Sub-Total
                              %td.text-left= number_to_currency(Cart.subtotal(session[:cart]).to_f)
                        %p.text-right.btn-block1
                          %a{href: "/cart"} View Cart
                          %a{href: "#"}Checkout
        / Main Menu Starts
        -if current_user
          %div#admin-nav.navbar
            %ul.nav.navbar-nav
              %li
                =link_to "New Category", new_category_path
              %li
                =link_to "New Product", new_product_path
              %li
                =link_to "Orders", orders_path
              %li
                =link_to "Log Out", "/log_out"
              %li
                =link_to "New Page", new_page_path
        %nav#main-menu.navbar{role: "navigation"}
          / Nav Header Starts
          %div.navbar-header
            %button{type: "button", class: "btn btn-navbar navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-cat-collapse"}
              %span.sr-only Toggle Navigation
              %i.fa.fa-bars
          /Navbar Cat collapse Starts
          %div.collapse.navbar-collapse.navbar-cat-collapse
            %ul.nav.navbar-nav
              -categories.each do |category|
                %li
                  =link_to category.name, category

    %div#main-container.container
      = yield

    %footer#footer-area
      %div.footer-links
        %div.container
          %div.col-md-2.col-sm-6
            %h5 Information
            %ul
              %li
                =link_to "About Us", "/about"
              %li
                =link_to "Delivery Information", "/delivery"
              -# %li
              -#   =link_to "Privacy Policy", "/privacy"
              -# %li
              -#   =link_to "Terms & Conditions", "/terms"
          %div.col-md-2.col-sm-6
            %h5 Service
            %ul
              %li
                =link_to "Contact Us", "/contact"
          %div.col-md-2.col-sm-6
            %h5 Follow Us
            %ul
              %li
                =link_to "Facebook", "https://www.facebook.com/pages/Datil-Dave/829884310389179?ref=br_tf"
          %div.col-md-4.col-sm-12.last
            %h5 Contact Us
            %ul
              %li Datil Dave
              %li
                Email: 
                =mail_to "dave@datildave.com"
            %h4.lead
              Tel: 
              %span (904) 540-1051
    %div.copyright
      %div.container
        %p.pull-left
          &copy; 2014 Datil Dave.
        %ul.pull-right.list-inline
          %li
            =image_tag "/images/payment-icon/visa.png", alt: "PaymentGateway"
          %li
            =image_tag "/images/payment-icon/mastercard.png", alt: "PaymentGateway"
          %li
            =image_tag "/images/payment-icon/americanexpress.png", alt: "PaymentGateway"
